* {
    font-family: sans-serif;
    box-sizing: border-box;

}

body, #title {
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font-weight: 1000;
    background-color: rgb(45, 51, 42);
    color: rgb(219, 247, 206);
    padding: 20px;
}

body {
    background-color: #B7C493;
}

img {
    display: block;
    margin:auto;
}

p { 
    margin-left: 10px;
}

.headings {
    text-decoration: underline;
    margin-left: 10px;
}

button {
    background-color: rgb(45, 51, 42);
    border: none;
    text-align: center;
    color: rgb(219, 247, 206);
    font-size: medium;
    padding: 15px 32px;
    display: inline-block;
    margin-top: 2rem;
    font-weight: bold;
}